{% extends 'layouts/default-layout.twig' %}

{% set short_title = 'Under Maintenance' %}

{% block content %}

<h2> {{ short_title }} </h2>

<p> indiebookclub is temporarily unavailable due to maintenance. Please check back soon. </p>

{% endblock %}

