{% extends 'layouts/default-layout.twig' %}

{% set short_title = 'indiebookclub updates' %}

{% block content %}

<div class="h-feed">
    <h2 class="p-name"> {{ short_title }} </h2>

    <div class="h-entry" id="post-2024-04-??">
        <h3 class="p-name">indiebookclub version 0.1.2 launched</h3>
        <time datetime="2024-04-??" class="dt-published">April ??, 2024</time>
        <div class="e-content">
            <p> <b>Draft posts:</b> If you are using Micropub, the new post form lets you select post status “published” or “draft.” If you grant the “draft” permission during sign-in, the post status will default to “draft.” Your Micropub server must understand the <code>post-status</code> property in order to handle draft posts. </p>

            <p> The new post form supports query parameter <code>post-status</code> as well. The <a href="/documentation">documentation</a> sections for Micropub requests and query parameters have been updated. </p>

            <p> <b>Improved query parameter support:</b> If you are using a bookmarklet for the new post form and are not currently signed in, your initial query parameters will be preserved through the sign-in process. </p>

            <p> <b>Improved sign-in error handling:</b> When using Micropub, ensure that “create” permission has been granted. </p>
        </div>
    </div>

    <div class="h-entry" id="post-2023-12-02">
        <h3 class="p-name">indiebookclub Year in Review</h3>
        <time datetime="2023-12-02" class="dt-published">December 2, 2023</time>
        <div class="e-content">
            <p> Recent IndieWeb discussion of <a href="https://indieweb.org/year_in_review">year in review</a> features inspired me to set up the indiebookclub <b><a href="/review/2023">2023 Year in Review</a></b>. This is an overview for all of indiebookclub’s <em>public</em> posts and includes a list of what people have been reading (or wanted to). </p>

            <p> 2023 is still ongoing, of course, so this review page will continue to update daily until the new year. </p>

            <p> Happy holidays and happy reading! </p>
        </div>
    </div>

    <div class="h-entry" id="post-2022-11-14">
        <h3 class="p-name">indiebookclub version 0.1.0 launched</h3>
        <time datetime="2022-11-14" class="dt-published">November 14, 2022</time>
        <div class="e-content">
            <p> <b>Re-try publishing:</b> If you experience an error publishing to your site with Micropub — or if you added Micropub support after you started using the app — you can now re-try publishing individual posts to your site. Browse to the post on your indiebookclub profile, click the timestamp to view the post, then you should see the link to re-try publishing. You can only re-try posts that have not been published on your site already. </p>

            <p> <b>Published Date and Time:</b> optionally set the date and time of a post to backdate it. </p>

            <p> <b>Add to my list:</b> When browsing posts on someone’s profile, there is a shortcut link at the bottom right. Click <i>➕ Add to my list</i> to open the new post form with the information pre-populated. </p>

            <p> <b>Updated IndieAuth:</b> Now uses the latest <a href="https://indieauth.spec.indieweb.org/">IndieAuth specification</a> (2022-02-12), which adds IndieAuth Server Metadata support. The app will still work normally if your site doesn’t support this yet, but it will warn you that you might want to update your software. </p>

            <p> Behind the scenes, a lot of the code has been refactored and modernized. </p>
        </div>
    </div>

    <hr>

    <div class="h-entry" id="post-2021-12-03">
        <h3 class="p-name">indiebookclub version 0.0.3 launched</h3>
        <time datetime="2021-12-03" class="dt-published">December 3, 2021</time>
        <div class="e-content">
            <p> <b>Post visibility:</b> If your Micropub server supports <a href="https://indieweb.org/Micropub-extensions#Visibility">visibility options</a> (public, unlisted, or private), you can select the visibility when making a new post. You can also select a default visibility for new posts on your settings page. </p>

            <p> If you make a private post, it will only appear on your profile page when you are signed in. It will not be visible by other indiebookclub users or the public. </p>

            <p> If you make an unlisted post, the post will not appear on your profile page or the ISBN page. However, the permalink for the unlisted post is not protected, so if it is shared publicly, others will be able to view it. </p>

            <p> <b>Delete posts:</b> You can now delete posts. If you are using Micropub, you also have the option to grant indiebookclub permission to delete the post from your site. </p>

            <p> Deleting from indiebookclub is permanent; posts cannot be un-deleted. </p>

            <p> <b>Layout updates:</b> After signing in, the home page and the page header indicate the domain you are signed in as. They also include a link to your profile, sign out link, and a button to create a new post. </p>

            <p> <b>Updated IndieAuth:</b> The sign-in process now uses the latest <a href="https://indieauth.spec.indieweb.org/">IndieAuth specification</a> (2020-11-26), which adds PKCE support to protect against authorization code injection and CSRF attacks. </p>

        </div>
    </div>
</div>

{% endblock %}

