
    <header>
        <!-- Book by Beth Bolton from the Noun Project https://thenounproject.com/icon/1727889/ -->
        <a href="/"><img src="/images/book.svg" alt=""></a>
        <a href="/">indiebookclub</a>
    </header>

